<h3 class="moduleTitle ">{{ site.data.user_answers.form.title }}</h3>
<div class="mod-login mod-login__aside">
  <form name="user question" method="POST" netlify>
    <label for="user-question_from">
      {{ site.data.user_answers.form.fields.from }}
    </label>
    <input id="user-question_from" type="text" name="from" size="18" required>

    <label for="user-question_reply_to">
      {{ site.data.user_answers.form.fields.reply_to }}
    </label>
    <input id="user-question_reply_to" type="email" name="reply to" size="18" required>

    <label for="user-question_body">
      {{ site.data.user_answers.form.fields.body }}
    </label>
    <textarea id="user-question_body" name="body" class="user-question__message block" required></textarea>

    <div data-netlify-recaptcha></div>

    <button type="submit" class="btn btn-primary">
      {{ site.data.user_answers.form.fields.submit }}
    </button>
  </form>
</div>
