{% assign author = site.data.authors[include.user_answer.author] %}
<div class="item_info m-bottom-1">
  <dl class="item_info_dl">
    <dd>
      <div class="item_createdby">{{ author.name }}</div>
    </dd>
    |
    <dd>
      <div class="item_category-name">
        {% for tag in include.user_answer.tags %}
          {% assign filterable_tag = site.filterable_tags |
               where: "name", tag |
               first %}
          {% unless filterable_tag %}{% continue %}{% endunless %}
          {% capture tag_slug -%}
            {% include helpers/slug.html page=filterable_tag %}
          {%- endcapture %}
          <a href="{{ "/user_answers" | relative_url %}?category={{ tag_slug }}">
            {{ filterable_tag.name }}
          </a>&nbsp;
        {% endfor %}
      </div>
    </dd>
    |
    <dd>
      <div class="item_published">{{ include.user_answer.date | date: "%e. %-m. %Y" }}</div>
    </dd>
  </dl>
</div>
